@media (max-width: 967px){
   .sign_up_t{
      flex-direction: column-reverse;
   }
   .sign_in_tabs{
      flex-direction: column;
   }
   .log_in_tabs{
      flex-direction: column;
   }
   .signPAD,
   .loginPAD{
      width: 70%;
   }
   .singINN_,
   .LogiNN_{
      flex-direction: column;
   }
   .add_faqs textarea{
      width: 70% !important;
   }
   .inptt{
      width: 70% !important;
   }
   .right_{
      height: auto;
      padding: 10px;
      width: 70% !important;
   }
   .sign_in_tabs .left_ nav{
      height: auto !important;
   }
   .log_in_tabs .left_ nav{
      height: auto !important;
   }
   .task_part, .moveToTop, .but_coin_cn, .ABout_tools, .transfar__cc, .hmeChld, .Home, .Friends, .Task, .Linkwallet, .withdrawals_request, .stars_cnt, .jewel_sent, .pluto_sent, .deltohedron_sent, .keys_starts, .octahedron_sent{
      width: 65%;
   }
   .Ctr_cnt_xxxxxxxxr{
      gap: 70px;
      justify-content: space-between;
      padding-top: 10px;
   }
   .Ctr_child01_xxxxxx{
      justify-content: space-evenly;
      width: 30%;
   }
   .sign_up_table{
      width: 100%;
   }
   .sign{
      width: 100%;
      justify-content: center;
   }
   .single_len_tasking, .cnt_crt_another_, .cnt_each_{
      width: 100%;
      
   }
   .pin_wrapper{
      width: 70%;
   }
   .right_ form{
      width: 100% !important;
   }
   .uplo{
      width: 30%;
   }
   .header{
      width: 70% !important;
   }
   .allfaqs{
      width: 80% !important;
   }
   .txtWriter{
      width: 60% !important;
   }
}
@media (max-width:954px){
   
}
@media (max-width:900px){
   .sign_up_t div{
      width: 65%;
   }
   .inputwrapper{
      width: 100%;
   }
   .signPAD,
   .loginPAD{
      width: 75%;
      height: auto;
   }
   .faqs_infor h3{
      font-size: medium;
   }
   .txtWriter{
      width: 70% !important;
   }
   .err, .err___{
      width: 100%;
   }
   .rightPad{
      width: 100% !important;
   }
   .add_faqs textarea{
      width: 80% !important;
   }
   .allfaqs{
      width: 90% !important;
   }
   .inptt{
      width: 80% !important;
   }
   .leftPad{
      position: absolute;
      width: 80% !important;
      display: flex !important;
      left: -900px;
      z-index: 50;
   }
   .open_togle_close{
      display: flex !important;
   }
   .header{
      width: 80% !important;
   }
   .right_{
      width: 80% !important;
   }
   .left_{
      width: 60% !important;
   }
   .Ctr_child01_xxxxxx{
      width: 50%;
   }
   .task_part, .moveToTop, .but_coin_cn, .ABout_tools, .transfar__cc, .hmeChld, .Home, .Friends, .Task, .Linkwallet, .stars_cnt, .withdrawals_request, .pluto_sent, .jewel_sent, .deltohedron_sent, .keys_starts, .octahedron_sent{
      width: 70%;
   }
   .pin_wrapper{
      width: 80%;
   }
   .add_test{
      width: 100%;
   }

   .wrap_tes_ti{
      width: 90%;
   }
   .payment_list{
      size: 90%;
   }
   .uplo{
      width: 35%;
   }
   .search_by_name{
      width: 90%;
   }
}
@media (max-width:800px){
   .sign_up_t div{
      width: 75%;
   }
   .ele2_ain{
      transform: translate(-15%, -40%);
      height: 30px;
      width: 30px;
  }
   .coins_available{
      border-bottom-left-radius: .5em;
      border-bottom-right-radius: .5em;
   }
   .avater{
      height: 100px;
   }
   .txtWriter textarea{
      width: 80% !important;
   }
   .signPAD,
   .loginPAD{
      width: 85%;
   }
   .txtWriter{
      width: 80% !important;
   }
   .add_faqs textarea{
      width: 90% !important;
   }
   .allfaqs{
      width: 100% !important;
   }
   .inptt{
      width: 90% !important;
   }
   .header{
      width: 90% !important;
   }
   .right_{
      width: 90% !important;
   }
   .hmeChld p {
      font-size: small;
   }
   .wrap_tes_ti h3{
      font-size: 15px;
   }
   .infor_cnt p{
      font-size: small;
  }
  .task_link p{
   font-size: small;
  }
   .timer-Count, .ttxt_arr{
      font-size: small;
   }
   .headdd{
      text-align: center;
   }
   .task_part, .moveToTop, .but_coin_cn, .ABout_tools, .transfar__cc, .hmeChld, .Home, .Friends, .Task, .Linkwallet, .stars_cnt, .withdrawals_request, .pluto_sent, .jewel_sent, .deltohedron_sent, .keys_starts, .octahedron_sent{
      width: 90%;
   }
   .why_am_i_not_paid_{
      width: 80%;
      left: 0;
   }
   .search_by_name{
      width: 100%;
   }
   .wrap_tes_ti{
      width: 100%;
   }
   .cnt_each_,.avater{
      border-radius: 0px !important;
   }
   .avater img{
      border-radius: 0px !important;
   }
   .totop_up_plans{
      width: 95%;
   }
   .testimonials{
      border-bottom-right-radius: 36px;
      border-bottom-left-radius: 36px;
   }
   .pin_wrapper{
      width: 90%;
   }
   .Ctr_Owl2_xxxxxx{
         width: 65%;
   }
   .Ctr_child01_xxxxxx{
      width: 70%;
   }
   .Ctr_cnt_xxxxxxxxr{
      gap: 70px;
   }
   .sign_up{
      padding: 5px;
   }
   .payment_list{width: 100%;}
}
@media (max-width:780px){
   .task_part, .moveToTop, .but_coin_cn, .ABout_tools, .transfar__cc, .hmeChld, .Home, .Friends, .Task, .Linkwallet, .stars_cnt, .withdrawals_request, .pluto_sent, .jewel_sent, .deltohedron_sent, .keys_starts, .octahedron_sent{
      width: 100%;
   }
   .signPAD,
   .loginPAD{
      width: 100%;
   }
   .txtWriter{
      width: 100% !important;
   }
   .header{
      width: 100% !important;
   }
   .add_faqs textarea{
      width: 100% !important;
   }
   .inptt{
      width: 100% !important;
   }
   .right_{
      width: 100% !important;
   }
   .wrp__arr{
      font-size: x-small;
   }
   .h_X_X_X_x, .daily_wra_clos_Plus, .combo_hh_r, .mar_ket_hhr, .sh_hhdr, ._2____{
      width: 90%;
   }
   .pin_wrapper{
      width: 100%;
   }
   .eligible_state nav{
      width: 60% !important;
   }
   .eligible_state button{
      width: 80%;
      font-size: larger !important;
   }
   .item_spa_x_xx p{
      font-size:small;
   }
   .coin_claim p{
      font-size: small;
   }
   .coin_claim{
      padding: 5px;
   }
   .target{
      width: 70%;
   }
}
@media (max-width:700px){
   .sign_up_t div{
      width: 85%;
   }
   .left_{
      width: 80% !important;
   }
   .Ctr_child01_xxxxxx{
      width: 80%;
   }
   .Ctr_Owl2_xxxxxx{
      width: 60%;
   }
}
@media (max-width:600px){
   .sign_up_t div{
      width: 95%;
   }
   .Ctr_child01_xxxxxx{
      width: 95%;
   }
   .h_X_X_X_x, .daily_wra_clos_Plus, .combo_hh_r, .mar_ket_hhr, .sh_hhdr, ._2____{
      width: 95%;
   }
   .target{
      width: 80%;
   }
}
@media (max-width:500px){
   .sign_up_t div{
      width: 100%;
   }
   .Ctr_child01_xxxxxx{
      width: 100%;
   }
   .h_X_X_X_x, .daily_wra_clos_Plus, .combo_hh_r, .mar_ket_hhr, .sh_hhdr, ._2____{
      width: 100%;
   }
   .target{
      width: 90%;
   }
}
@media(max-width:400px){
   .target{
      width: 100%;
   }
}
@media(max-width:360px){
   .wrp__arr{
      font-size: xx-small;
   }
}
@media(max-width:320px){
   .__txt_smal, .clk4{
      font-size: xx-small;
   }
   .TapPopOut{
      font-size:medium;
   }
   .wrap_spn--x-x-x p{
      font-size:small;
   }
   .mg_wrpTool, .market_lock{
      height: 20px;
      width: 20px;
   }
   .tken_s span{
      height: 10px;
      width: 10px;
   }
   .tools_bars p{
      font-size: x-small !important;
   }
   .wrap_ffF__{
      height: 15px;
      width: 15px;
   }
   .wrap_ff-x-x-{
      height: 20px;
      width: 20px;
   }
   .item_spa_x_xx span{
      height: 20px;
      width: 20px;
   }
}
