@media (max-width: 967px){
   .sign_up_t{
      flex-direction: column-reverse;
   }
   .task_part, .ABout_tools, .hmeChld, .Home, .Friends, .Task, .Linkwallet{
      width: 65%;
   }
   .Ctr_cnt_xxxxxxxxr{
      gap: 70px;
      justify-content: space-between;
      padding-top: 10px;
   }
   .Ctr_child01_xxxxxx{
      justify-content: space-evenly;
      width: 30%;
   }
   .sign_up_table{
      width: 100%;
   }
   .sign{
      width: 100%;
      justify-content: center;
   }
   .single_len_tasking, .cnt_crt_another_, .cnt_each_{
      width: 100%;
      
   }
   .pin_wrapper{
      width: 70%;
   }
   .uplo{
      width: 30%;
   }
}
@media (max-width:900px){
   .sign_up_t div{
      width: 65%;
   }
   .Ctr_child01_xxxxxx{
      width: 50%;
   }
   .task_part, .ABout_tools, .hmeChld, .Home, .Friends, .Task, .Linkwallet{
      width: 70%;
   }
   .pin_wrapper{
      width: 80%;
   }
   .add_test{
      width: 100%;
   }

   .wrap_tes_ti{
      width: 90%;
   }
   .payment_list{
      size: 90%;
   }
   .uplo{
      width: 35%;
   }
   .search_by_name{
      width: 90%;
   }
}
@media (max-width:800px){
   .sign_up_t div{
      width: 75%;
   }
   .headdd{
      text-align: center;
   }
   .task_part, .ABout_tools, .hmeChld, .Home, .Friends, .Task, .Linkwallet{
      width: 90%;
   }
   .why_am_i_not_paid_{
      width: 80%;
      left: 0;
   }
   .search_by_name{
      width: 100%;
   }
   .wrap_tes_ti{
      width: 100%;
   }
   .cnt_each_,.avater{
      border-radius: 0px !important;
   }
   .avater img{
      border-radius: 0px !important;
   }
   .totop_up_plans{
      width: 95%;
   }
   .pin_wrapper{
      width: 90%;
   }
   .Ctr_Owl2_xxxxxx{
         width: 65%;
   }
   .Ctr_child01_xxxxxx{
      width: 70%;
   }
   .Ctr_cnt_xxxxxxxxr{
      gap: 70px;
   }
   .payment_list{width: 100%;}
}
@media (max-width:780px){
   .task_part, .ABout_tools, .hmeChld, .Home, .Friends, .Task, .Linkwallet{
      width: 100%;
   }
   .wrp__arr{
      font-size: x-small;
   }
   .h_X_X_X_x, .daily_wra_clos_Plus, .combo_hh_r, .mar_ket_hhr, .sh_hhdr, ._2____{
      width: 90%;
   }
   .pin_wrapper{
      width: 100%;
   }
   button{
      font-size: x-small !important;
   }
   .eligible_state nav{
      width: 60% !important;
   }
   .eligible_state button{
      width: 80%;
      font-size: larger !important;
   }
   .item_spa_x_xx p{
      font-size:small;
   }
   .coin_claim p{
      font-size: small;
   }
   .coin_claim{
      padding: 5px;
   }
   .target{
      width: 70%;
   }
}
@media (max-width:700px){
   .sign_up_t div{
      width: 85%;
   }
   .Ctr_child01_xxxxxx{
      width: 80%;
   }
   .Ctr_Owl2_xxxxxx{
      width: 60%;
   }
}
@media (max-width:600px){
   .sign_up_t div{
      width: 95%;
   }
   .Ctr_child01_xxxxxx{
      width: 95%;
   }
   .h_X_X_X_x, .daily_wra_clos_Plus, .combo_hh_r, .mar_ket_hhr, .sh_hhdr, ._2____{
      width: 95%;
   }
   .target{
      width: 80%;
   }
}
@media (max-width:500px){
   .sign_up_t div{
      width: 100%;
   }
   .Ctr_child01_xxxxxx{
      width: 100%;
   }
   .h_X_X_X_x, .daily_wra_clos_Plus, .combo_hh_r, .mar_ket_hhr, .sh_hhdr, ._2____{
      width: 100%;
   }
   .target{
      width: 90%;
   }
}
@media(max-width:400px){
   #style_cheet{
      width: 70px;
   }
   .target{
      width: 100%;
   }
}
@media(max-width:360px){
   .wrp__arr{
      font-size: xx-small;
   }
}
@media(max-width:320px){

}
