@import url(var.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s linear;
}
.Ctr_cnt_xxxxxxxxr{
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 10px;
    z-index: 20;
    background: rgb(250, 252, 253);
    padding: 5px;
}
.Ctr_cnt_xxxxxxxxr::-webkit-scrollbar{
    display: none;
}
.Ctr_child01_xxxxxx{
    height: auto;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Ctr_child01_xxxxxx .Ctr_logo_cnt_xxxxx{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items:center;
    display: flex;
}
.Ctr_child01_xxxxxx .Ctr_logo_cnt_xxxxx img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.Ctr_random_txt_xxxxxx{
    font-weight: 500;
    color: rgb(39, 121, 107);
}
.Ctr_owl_slider_xxxxxxxx{
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.Ctr_Owl2_xxxxxx{
    width: 100% !important;
    height: auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.Ctr_Owl2_xxxxxx button{
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    padding: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background: skyblue;
    font-size: medium;
    color: white;
    border-radius: .4rem;
}
.Ctr_Owl2_xxxxxx button:hover{
    background: rgb(39, 121, 107);
}
.sign_up_table{
    height: auto;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    background: rgb(226, 225, 225);
    padding: 10px;
    border-radius: 1rem;
    flex-direction: column;
    gap: 5px;
    box-shadow: var(--shad1);
}
.sign{
    height: auto;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.sign h2{
    color: rgb(17, 119, 159);
}
.sign span{
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: .4rem;
    border: 1px solid rgb(217, 215, 215);
}
.sign span img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
}
.sign span img:hover{
    opacity: 0.9;
}
.sign span img:active{
    opacity: 0.5;
    transition: 0s !important;
}
.login_{
    display: none;
}
.log__{
    gap: 15px !important;
}
.sign_up_t{
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 5px;
}
.sign_up_t div{
    height: auto;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.lt_part{
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.Ctr_inpt_wrap{
    height: auto;
    width: 100% !important;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    display: flex;
    padding: 2px;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
    border-radius: .4rem;
    background: white;
}
.un__{
    position: absolute;
    right: 10px;
    transition: 0s !important;
    top: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(7, 26, 68) !important;
    font-size: large;
}
.un__:active{
    opacity: 0.5;
    transition: 0s !important;
}

.Ctr_inpt_wrap input{
    padding: 7px;
    width: 100%;
    outline: none;
    border: none;
    font-size: medium;
}
.Ctr_inpt_wrap input::placeholder{
    font-size: medium;
}
.Ctr_inpt_wrap span{
    color:rgb(217, 215, 215) ;
}
.rt_part{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.rt_part nav{
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.err{
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: none;
    border: 1px solid rgb(151, 56, 12);
    background: linear-gradient(23deg, rgba(201, 135, 135, 0.774), rgba(202, 146, 146, 0.774), rgba(209, 166, 166, 0.774));
    transition: 0.5s linear;
    animation: slidee 0.5s ease;
    padding: 10px;
    border-radius: .4em;
}
@keyframes slidee{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.rt_part nav img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Ctr_inpt_wrap button:hover{
    background: rgb(39, 121, 107);
}
.Ctr_inpt_wrap button{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 15px;
    color: white;
    cursor: pointer;
    font-size: medium;
    z-index: 5;
    position: relative;
    border-radius: .4rem;
    background:linear-gradient(rgb(116, 215, 254),rgb(96, 174, 204),rgb(55, 159, 200)) ;
}
.bubbles{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 10;
    transition: 7s linear !important;
}
.Ctr_inpt_wrap button{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}