@import url(var.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s linear;
}
.user_wraper{
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    border-top-left-radius: .8em;
    border-bottom-left-radius: .8em;
    padding: 5px;
    background: #fff;
    animation: slut 0.2s linear;
}
@keyframes slut {
    0%{
        transform: translateX(-40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.wrap_each_user{
    height: auto;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background: #fff;
    padding: 5px;
    border-bottom: 1px solid #660303;
}
.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: var(--bbsd-);
}
.profile i{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}
.profile i img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user_wraper button{
    padding: 9px;
    box-shadow: var(--bbsd-);
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
    border: none;
    border-radius: .4em;
    cursor: pointer;
    transition: 0s !important;
    background: var(--btn-);
    color: white;
}
.delete{
    padding: 9px;
    box-shadow: var(--bbsd-);
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
    border: none;
    border-radius: .4em;
    cursor: pointer;
    transition: 0s !important;
    background: var(--btn-);
    color: white;
}
.delete{
    background: #660303 !important;
}
.user_wraper button:active{
    opacity: 0.5;
}
.header{
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 60%;
    box-shadow: var(--shad1);
    display: flex;
    background: rgb(250, 249, 249);
    position: sticky;
    border-radius: .9em;
    top: 0;
}

.wraper__info{
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.header input{
    width: 100%;
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    /* box-shadow: var(--bbsd-); */
    border-radius: .9em;
    justify-content: center;
    align-items: center;
    display: flex;
}